################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kozyrev_Hriha_SP/FileContentIndex/1198f3e4-dff6-4dac-b24f-bdc6ef4f5eec.vsidx
/.vs/Kozyrev_Hriha_SP/FileContentIndex/01d48412-bb58-4dc2-bf06-7a30c6e68e83.vsidx
/.vs/Kozyrev_Hriha_SP/FileContentIndex/4bce50ff-c207-4a27-a973-236acd7bc8a1.vsidx
*.vsidx
